<!DOCTYPE html>
<html lang = 'en'>
<head>
  {% block title %}<title>Stocks</title>{% endblock %} 
  <meta charset="utf-8">
  <!-- easy viewport optimization -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- bootstrap css -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- loading custom css file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <div>
    <div class='fixed-top front-header'>
      <h1><strong><u>Stocks.</u></strong></h1>
      <form method='GET' action='{% url 'index' %}'>
        {% csrf_token %}
        <input type='search' name='ticker_search' onfocus="this.value=''" value='Please enter a ticker.'>
        <button type='submit'>Search</button>
      </form>
      <div class='front-header'>
        <a href='{% url 'all' %}'>S&P 500</a> 
        - <a href='{% url 'top50gain' %}'>Top 50 (Gains)</a> 
        - <a href='{% url 'top50loss' %}'>Top 50 (Loss)</a> 
        - <a href='{% url 'top50pe' %}'>Top 50 (P/E Ratio)</a> 
        - <a href='{% url 'compare' %}'>Compare Tickers</a>
      </div>
    </div>
    <div class='buffer'>
    {% block content %}{% endblock %}
    </div>
  </div>
</body>
</html>